.Weather_form{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.form>label{
    font-size: 34px;
}
.formInput{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 5px;
}
::-webkit-input-placeholder{
    font-size: 24px;
    padding:5px;
}
.formInput>select{
    font-size: 24px;
    border:none;
}
.formInput>select:focus{
    outline: none;
}
.formInput>input{
    display: flex;
    font-size: 24px;
    border:none;
    border-right: 1px solid black;
}
.formInput>input:focus{
    outline: none;
}
.form_btn{
    background-color: #0275d8;
    border:none;
    color:white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
}
.formü:focus{
    outline: none;
}

@media (max-width:590px){
    .form>label{
        font-size: 24px;
    }
    .formInput>input{
        font-size: 20px;;
    }
    .formInput>select{
        font-size: 16px;
    }
    .form_btn{
        font-size: 16px;
        padding: 10px 15px;
    }
    ::-webkit-input-placeholder{
        font-size: 16px;
    }

}